$color--white: #fff;
$color--primary: #745bd7;
$color--primary-secondary: #9b78ff;
$color--gray: #868686;
$color--gray-1: #c6c6c6;
$color--gray-2: #e1e1e1;

$color--background: #141627;

$colors: (
  ('white', $color--white),
  ('background', $color--background),
)
