@use 'resources/variables' as *;
@use 'resources/mixins' as *;

*:focus-visible {
  outline: none;
}

html, #app, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font--main;
  color: $color--white;
  background-color: $color--background;
}

.h1, h1 {
  @include text-h1;
}

.h2, h2 {
  @include text-h2;
}

.h3, h3 {
  @include text-h3;
}

.h4, h4 {
  @include text-h4;
}

.text {
  &-lg {
    @include text-lg;
  }

  &-md {
    @include text-md;
  }

  &-sm {
    @include text-sm;
  }
}

.bold {
  font-weight: 700 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.c-p {
  cursor: pointer !important;
}

.p-r {
  position: relative !important;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.divider {
  background-color: rgba($color--white, 0.1);
}

.parallelogram {
  width: fit-content;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    border-radius: 15px;
    transform: skew(-10deg);
    z-index: -1;
    inset: 0;
  }
}

// Colors
@each $_class-name,
$_color in $colors {
  // @sample
  // .bg-primary
  // .color-primary
  @include color($_class-name, $_color);
}
